<div class="row  animated fadeIn">
    <div class="card m-5 puntero" style="width: 15rem;" *ngFor="let item of items" (click)="verArtista( item )">
        <img [src]="item.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.artist}}
                <span *ngFor="let artista of item.artists" class="badge bg-dark">{{item.name}}</span>
            </p>

        </div>
    </div>
</div>